*                    { margin: 0; padding: 0; }
body                 { font-size: xx-large;background: #333; }

#page-wrap           { margin: 2% auto; color: white;content: "Smartphone Layout"; }
#page-wrap > .main,#page-wrap > sidebar   { border: 1px solid #999; padding: 1%;margin-bottom: 1px; color: black;}

sidebar nav ul  { margin: 0px 100px 0px 0px;list-style: none;width: 100%;}
sidebar nav ul li { display: inline-block;}

header, nav, section { background: #eee; text-align: center;}
footer               { background: #eee; text-align: center;font-size: large;}
nav span             { margin: 0px 10px 0px 0px;width: 100%;display: inline-block;}

#ErrorMsgs           { color: #f61; font-size: smaler}
.right 				 {float: right;}

.quiz_img 			 { height: 150px; float: none;}


h1 span,h2 span, section h2, label.rem{ display: none; }
input, button{ font-size: x-large; }

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

	

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */



@media screen and (min-width:30em){/*480px*/


}

@media screen and (min-width:48em){/*768px*/

body { background: #999;font: 16px Georgia, serif; }

#page-wrap:after { content: "Wide Layout"; }
header h1 { font-size: x-large; }
sidebar { float: left;width: 17%;height: 350px; padding: 0px !important;}
sidebar nav {height: 100%;padding: 5.85%;}
sidebar nav ul  { margin: 0px 100px 0px 0px;}
sidebar nav ul li { display: block;}
section   { float: right; width: 80%; height: 350px ;}
section h2{ font-size: large; padding: 20px 0px;}
footer    { clear: both;  display: block; }
.quiz_img 			 { float: left;}
h1 span,h2 span, section h2, label.rem{ display: block;}
.videoWrapper {max-width: 50%;}
}

@media screen and (min-width:64em){/*1024px*/
}
