<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Quiz: el juego de las preguntas</h1>
    <p>Respuesta <%= resultado %></p>
    <p><a href="/quizes/question">Volver</a></p>
  </body>
</html>
